.git
.gitignore
.env
.env.dev
.env.local
.env.*.local
node_modules
var/cache
var/log
var/sessions
tests
docker-compose.yaml
docker-compose*.yml
README.md
*.md
.idea
.vscode
phpunit.xml.dist
phpunit.xml